<div class="container mt-5">

  <h1><%= @restaurant.name %></h1>*


  <p>Address: <%= @restaurant.address %></p>
  <p>Category: <%= @restaurant.category %></p>
  <p>Phone: <%= @restaurant.phone_number %></p>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content%> - <%= review.rating / 5 %></li>
    <% end%>
  </ul>

  <h1>Add a new review for this restaurant</h1>

<!-- Ajouté dans la refacto: -->
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <div>
    <%= f.input :content %>
    <%= f.input :rating %>
    </div>
    <div>
    <%= f.submit class:"btn btn-success" %>
    </div>
  <% end %>

  <div>
    <%= link_to restaurants_path do  %>
    <div class="btn btn-primary">Back to all restaurants</div>
    <% end  %>
  </div>



</div>



  <%# <div class="my-3"> %>
    <%# <%= link_to new_restaurant_review_path(@restaurant) do  %>
    <%# <div class="btn btn-success">Add a review</div> %>
    <%# <% end  %>
  <%# </div> %>
